<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blockchain Magic!</title>
</head>
<body>
<h1>Blockchain: All Blocks</h1>

<p>
    <table width="100%">
        <th>Index</th>
        <th>Data</th>
        <th>Hash</th>
        <tr th:each="block: ${blocks}">
            <td th:text="${block.index}"></td>
            <td th:text="${block.data}"></td>
            <td th:text="${block.hash}"></td>
        </tr>
    </table>
</p>

</body>
</html>